{

    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #D8E2F6;
}

.header {
    display: flex;
    align-items: center;
    background-color: rgb(182, 182, 74);
    padding: 15px;
    border-radius: 8px;
    color: white;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

h1 {
    margin: 0;
}

.filter {
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-wrap: nowrap;
}

.filter input {
    width: 400px;
    margin-right: 10px;
    padding: 10px;
}

.add-product-button {
    padding: 10px 15px;
    background-color: #c2c058;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 14px;
    width: 150px;
}

.add-product-button:hover {
    background-color: #c2c058;
    transform: scale(1.05);
}

.filter-options {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.filter-options select {
    margin-right: 10px;
    padding: 10px;
    font-size: 14px;
    width: 150px;
}

.add-product-details,
.edit-product-details {
    margin-top: 10px;
    background: #e0eaa8;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none;
}

input, select {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 18px);
    font-size: 14px;
}

input:focus, select:focus {
    border-color: #A8BFEA;
    outline: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #b8d550;
    color: white;
}

tbody tr:hover {
    background-color: #A8BFEA;
}


.edit-button {
    background-color: #a1b300;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s, transform 0.3s;
    width: calc(100% - 18px);
    padding: 10px;
    margin: 5px 0;
}

.delete-button {
    background-color: #ca6512;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s, transform 0.3s;
    width: calc(100% - 18px);
    padding: 10px;
    margin: 5px 0;
}

.edit-button:hover {
    background-color: rgb(182, 182, 74);
    transform: scale(1.05);
}

.delete-button:hover {
    background-color: #c88023;
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .filter {
        flex-direction: column;
    }

    .add-product-button, .edit-button, .delete-button {
        width: 100%;
        margin-top: 5px;
    }

    input, button, select {
        width: 100%;
    }
}

.credits {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.add-product-details button,
.edit-product-details button,
.cancel-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 150px;
    transition: background-color 0.3s, transform 0.3s;
}

.add-product-details button {
    background-color: rgb(182, 182, 74);
    color: white;
}

.edit-product-details button {
    background-color: rgb(182, 182, 74);
    color: white;
}

.cancel-button {
    background-color: #dc8035 !important;
    color: white;
}

.add-product-details button:hover {
    background-color: rgb(182, 182, 74);
    transform: scale(1.05);
}

.edit-product-details button:hover {
    background-color: rgb(182, 182, 74);
    transform: scale(1.05);
}

.cancel-button:hover {
    background-color: #c88023 !important;
    transform: scale(1.05);
}
